<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Audrey Sperry</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom fonts for this template -->
    <link href="/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'/>

    <!-- Custom styles for this template -->
    <link href="/assets/css/agency.min.css" rel="stylesheet"/>

    <!-- My custom styles -->
    <link href="/assets/css/app.css" rel="stylesheet"/>
    <link rel="icon" href="/assets/img/portfolio/cactus.png"/>


  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand change-name-color js-scroll-trigger" href="#page-top">Audrey Sperry</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Resume</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#team">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Hi, I'm Audrey.</div>
          <div class="intro-heading">It's nice to meet you</div>
          <a class="btn btn-xl js-scroll-trigger" href="#portfolio">My Work</a>
        </div>
      </div>
    </header>

    <!-- Skills -->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Skills</h2>
            <h3 class="section-subheading text-muted"></h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-code fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">front-end</h4>
            <p class="text-muted">HTML &#8729; CSS &#8729; Bootstrap &#8729; JavaScript &#8729; JQuery &#8729; Flexbox &#8729; Responsive Design &#8729; Fetch Requests</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-database fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">back-end</h4>
            <p class="text-muted">Java &#8729; Spring Boot &#8729; Thymeleaf &#8729; IntelliJ &#8729; JUnit &#8729; JPA &#8729; Node.js &#8729; Express &#8729; Passport &#8729; JS &#8729; SQL &#8729; Sequelize &#8729; Postgresql &#8729; Mongodb &#8729; Mongoose &#8729; Jest </p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-laptop  fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">other</h4>
            <p class="text-muted">RESTful APIs &#8729; Test-driven Development &#8729; GIT &#8729; Github &#8729; DataGrip &#8729; Heroku &#8729; MVC Architecture</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">My Work</h2>
            <h3 class="section-subheading text-muted">Check out a few of my recent projects below</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid portfolio-img" id="portfolio-img" src="/assets/img/portfolio/gabble1.png" alt=""/>
            </a>
            <div class="portfolio-caption">
              <h4>Gabble</h4>
              <p class="text-muted">Node.js</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid portfolio-img" src="/assets/img/portfolio/songsampler1.png" alt=""/>
            </a>
            <div class="portfolio-caption">
              <h4>Song Sampler</h4>
              <p class="text-muted">JavaScript</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid portfolio-img" src="/assets/img/portfolio/githubprofile.png" alt=""/>
            </a>
            <div class="portfolio-caption">
              <h4>Github Profile</h4>
              <p class="text-muted">JavaScript, HTML, CSS</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid portfolio-img" src="/assets/img/portfolio/stayblebanner.png" alt=""/>
            </a>
            <div class="portfolio-caption">
              <h4>Stayble</h4>
              <p class="text-muted">Java</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid portfolio-img" src="/assets/img/portfolio/panic.png" alt=""/>
            </a>
            <div class="portfolio-caption">
              <h4>Horror Movie Review</h4>
              <p class="text-muted">Java</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid portfolio-img" src="/assets/img/portfolio/blackjack.png" alt=""/>
            </a>
            <div class="portfolio-caption">
              <h4>Black Jack</h4>
              <p class="text-muted">Java</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- About -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Resume</h2>
            <h3 class="section-subheading text-muted">My professional path</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="/assets/img/portfolio/bicycle2.png" alt=""/>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2014-2016</h4>
                    <h4 class="subheading">Active Lifesyles Coordinator</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted"> Spearheaded the development of a new database management system for community bike rental program.
                    </p>
                    <p class="text-muted"> Project managed all aspects of annual professional cycling race, doubled revenue of previous year and surpassed attendance and participation goals.
                    </p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="/assets/img/portfolio/consult.png" alt=""/>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2015-2017</h4>
                    <h4 class="subheading">Strategy Consultant</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Facilitated organization and community-wide collaborative efforts including strategic planning, focus groups and mergers.
                    </p>

                    <p class="text-muted">Guided community and nonprofit leaders through major decisions using facilitation and collaboration strategies.</p>

                    <p class="text-muted">Managed the implementation of work to ensure clients’ needs were met, and the project completed on time.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="/assets/img/portfolio/code.png" alt=""/>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Summer 2017</h4>
                    <h4 class="subheading">The Iron Yard</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Completed a 12-week, full-stack development program. During the last four weeks, I focused on Java development with Spring Boot.</p>
                  </div>
                </div>
              </li>
              <!--<li class="timeline-inverted">-->
                <!--<div class="timeline-image">-->
                  <!--<img class="rounded-circle img-fluid" src="/assets/img/about/4.jpg" alt=""/>-->
                <!--</div>-->
                <!--<div class="timeline-panel">-->
                  <!--<div class="timeline-heading">-->
                    <!--<h4>July 2014</h4>-->
                    <!--<h4 class="subheading">Phase Two Expansion</h4>-->
                  <!--</div>-->
                  <!--<div class="timeline-body">-->
                    <!--<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</li>-->
              <li class="timeline-inverted">
                <a href="/assets/img/portfolio/apsresume.pdf" target="_blank"><div class="timeline-image">
                  <h4>Click to
                    <br/>Download
                    <br/>Resume</h4>
                </div></a>

              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- About -->
    <section class="bg-light" id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">About</h2>
            <h3 class="section-subheading text-muted">How I got where I'm going</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-3">
            <div class="team-member">
              <img class="portfolio-prof-pic" id="portfolio-prof-pic" src="/assets/img/portfolio/asperry.jpg" alt=""/>
            </div>
          </div>

          <div class="col-sm-12 col-md-8 ">
            <p class="large text-muted">Hello. I am a software developer living in the Upstate of SC. After graduating from Connecticut College, I decided to head south for a new adventure. I signed up for a year of nonprofit volunteering through AmeriCorps, packed my bags and moved to Spartanburg, SC. I had every intention of heading back North after completing my year of service but the southeast managed to capture a piece of my heart and I’ve been embracing my southern side ever since.
            </p>
            <p class="large text-muted">In the spring of 2016, while working as a strategy consultant for a nonprofit and community consulting form, a colleague and I set out to design a tool to make it easier for out clients to manage the systems that sustain their impact. This incredibily educational, challenging, and rewarding experience opened my eyes to the world of software development.
            </p>
            <p class="large text-muted">In the summer of 2017 I enrolled at The Iron Yard Greenville, a 12-week coding bootcamp, to jumpstart my software development experience in an immersive, fast-paced environment. I look forward to joining a team where I can help a company solve their largest problems with enthusiasm, passion and a sense of humor.</p>
            <p class="large text-muted">I'd love the chance to talk with you more about web and software development, dogs, and/or how shocked I am by the speed at which I started using (and loving) the phrase "y'all".</p>
          </div>
        </div>
      </div>
    </section>


    <!-- Clients -->

    <!--<section class="py-5">-->
      <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="col-md-3 col-sm-6">-->
            <!--<a href="#">-->
              <!--<img class="img-fluid d-block mx-auto" src="/assets/img/logos/envato.jpg" alt=""/>-->
            <!--</a>-->
          <!--</div>-->
          <!--<div class="col-md-3 col-sm-6">-->
            <!--<a href="#">-->
              <!--<img class="img-fluid d-block mx-auto" src="/assets/img/logos/designmodo.jpg" alt=""/>-->
            <!--</a>-->
          <!--</div>-->
          <!--<div class="col-md-3 col-sm-6">-->
            <!--<a href="#">-->
              <!--<img class="img-fluid d-block mx-auto" src="/assets/img/logos/themeforest.jpg" alt=""/>-->
            <!--</a>-->
          <!--</div>-->
          <!--<div class="col-md-3 col-sm-6">-->
            <!--<a href="#">-->
              <!--<img class="img-fluid d-block mx-auto" src="/assets/img/logos/creative-market.jpg" alt=""/>-->
            <!--</a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</section> -->

    <!-- Contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Let's Connect</h2>
            <h3 class="section-subheading text-muted">I look forward to working with you</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center text-muted contact-info">
            <i class="fa fa-phone"></i>
            <span class="contact-font">  860.874.2756</span>
            <br/>
            <a class="email-link" href="mailto:audrey.sperry@gmail.com"><i class="fa fa-envelope"></i><span class="contact-font">  audrey.sperry@gmail.com</span></a>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; Audrey Sperry 2017</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="mailto:audrey.sperry@gmail.com">
                  <i class="fa fa-envelope-o"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/audreysperry" target="_blank">
                  <i class="fa fa-github"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/audreysperry/" target="_blank">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item favicon-credit">
                <a href="https://github.com/BlackrockDigital/startbootstrap-agency">Theme &copy; Blackrock Digital, LLC, 2013-2017</a>
              </li>
              <li class="favicon-credit">Favicon &copy; <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">flaticon.com</a></li>
            </ul>
          </div>
          </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->

    <!-- Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2>Gabble</h2>
                  <p class="item-intro text-muted">A Twitter like app.</p>
                  <img class="img-fluid d-block mx-auto" src="/assets/img/portfolio/gabble1.png" alt=""/>
                  <img class="img-fluid d-block mx-auto" src="/assets/img/portfolio/gabble2.png" alt=""/>
                  <p>I used node.js, express, and sequelize to create a twitter like app called Gabble. The app uses passport for user authentication and allows users to create, like, update, and delete posts. Log into the site using the link below. Username: Murphy || Password: a </p>
                  <ul class="list-inline">
                    <li>Summer 2017</li>
                    <li>Node.js, Express, Sequelize</li>
                    <li><a href="https://gabble-aps.herokuapp.com" target="_blank">View Live Site</a></li>
                    <li><a href="https://github.com/audreysperry/gabble" target="_blank">View Source Code</a></li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2>Song Sampler</h2>
                  <p class="item-intro text-muted">Sample iTunes songs. </p>
                  <img class="img-fluid d-block mx-auto" src="/assets/img/portfolio/songsampler1.png" alt=""/>
                  <img class="img-fluid d-block mx-auto" src="/assets/img/portfolio/songsampler2.png" alt=""/>
                  <p>This application allows users to search samples of songs and music videos from iTunes API.</p>
                  <ul class="list-inline">
                    <li>Summer 2017</li>
                    <li>JavaScript</li>
                    <li><a href="https://audreysperry.github.io/song-sampler/" target="_blank">View Live Site</a></li>
                    <li><a href="https://github.com/audreysperry/song-sampler" target="_blank">View Source Code</a></li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2>Github Profile</h2>
                  <p class="item-intro text-muted">A recreation of the repository page of my Github Profile.</p>
                  <img class="img-fluid d-block mx-auto" src="/assets/img/portfolio/githubprofile.png" alt=""/>
                  <p>I used the Github API to recreate my personal Github repository page. This project utilized Bootstrap and fetch calls to the Github API.</p>
                  <ul class="list-inline">
                    <li>Summer 2017</li>
                    <li>JS, HTML, CSS</li>
                    <li><a href="https://audreysperry.github.io/4.2-github-profile/" target="_blank">View Live Site</a></li>
                    <li><a href="https://github.com/audreysperry/4.2-github-profile" target="_blank">View Source Code</a></li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2>Stayble</h2>
                  <p class="item-intro text-muted">A resource for evacuees with pets and animals to connect with farms, homes, and animal shelters with extra space during natural disasters or times of crisis.</p>
                  <img class="img-fluid d-block mx-auto" src="/assets/img/portfolio/Stayblehome.png" alt=""/>

                  <p>This application was the culmination of my work at the Iron Yard. It utilizes Java, Spring Boot, Thymeleaf, Feign, AWS S3, Google's Geocoding API, Google's Static Map API, Twilio's API, Spring Security, Postgresql and Bootstrap.</p>
                  <ul class="list-inline">
                    <li>Summer 2017</li>
                    <li>Java</li>
                    <li><a href="https://dry-shore-29820.herokuapp.com/" target="_blank">View Live Site</a></li>
                    <li><a href="https://github.com/audreysperry/finalproject" target="_blank">View Source Code</a></li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2>Horror Movie Review Site</h2>
                  <p class="item-intro text-muted">A movie review site using Java, Spring Boot and JPA.</p>
                  <img class="img-fluid d-block mx-auto" src="/assets/img/portfolio/panic.png" alt=""/>
                  <img class="img-fluid d-block mx-auto" src="/assets/img/portfolio/panic2.png" alt=""/>
                  <p>The site allows users to view movies, and reviews, but if they'd like to create a new review, edit or add a movie, they are required to signup and login.</p>
                  <ul class="list-inline">
                    <li>Summer 2017</li>
                    <li>Java, Spring Boot, JPA, Thymeleaf, Spring Security</li>
                    <li><a href="https://warm-reaches-49501.herokuapp.com/" target="_blank">View Live Site</a></li>
                    <li><a href="https://github.com/audreysperry/HorrorMovieReview/tree/master/src/main/java/com/audreysperry/moviereview" target="_blank">View Source Code</a></li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2>Black Jack</h2>
                  <p class="item-intro text-muted">A basic version of the game Black Jack, created in Java.</p>
                  <img class="img-fluid d-block mx-auto" src="/assets/img/portfolio/blackjack.png" alt=""/>
                  <img class="img-fluid d-block mx-auto" src="/assets/img/portfolio/blackjack2.png" alt=""/>

                  <p>This game of Black Jack, can be played in the command line. You are given the option to hit or stand, and can choose whether to continue to play or stop playing and keep your winnings.</p>
                  <ul class="list-inline">
                    <li>Summer 2017</li>
                    <li>Java</li>
                    <li><a href="https://github.com/audreysperry/blackJack/tree/master/src/main/java/com/audreysperry" target="_blank">View Source Code</a></li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/popper/popper.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="/assets/js/jqBootstrapValidation.js"></script>
    <script src="/assets/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/assets/js/agency.min.js"></script>

  </body>

</html>
